@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
    font-family: "Courier New", Courier, monospace;
    color: theme("colors.vintage-dark");
    /* background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%); */
    background:
        repeat url("/img/texture.png"),
        top left 100% / 100% no-repeat url("/img/top_bg.png"),
            linear-gradient(
                0deg,
                rgba(245, 212, 212, 1) 8.5%,
                rgba(252, 251, 224, 1) 90.2%
            );
}

/* Print view */
.print-view {
    gap: theme("gap.8");
}
.print-view #logo-container {
    row-gap: theme("gap.4");
}
.print-view #logo-container h1 {
    font-size: theme("fontSize.9xl");
}
.print-view #logo-container p {
    font-size: theme("fontSize.3xl");
}
.print-view #filters-container {
    gap: theme("gap.4");
    margin-bottom: theme("gap.8");
}
.print-view #filters-container .filters-label,
.print-view #filters-container .filters-current {
    font-size: theme("fontSize.3xl");
    text-decoration: none;
}
.print-view .cassette-heading {
    height: theme("height.64");
}
.print-view .cassette-heading h2 {
    font-size: theme("fontSize.4xl");
    margin-top: theme("margin.9");
}
.print-view .card-container {
    max-width: theme("maxWidth.lg");
}
.print-view .card-container h3 {
    font-size: theme("fontSize.3xl");
}
.print-view .list-item-container h3 {
    font-size: theme("fontSize.2xl");
    line-height: theme("lineHeight.8");
}
.print-view #save-trends-container {
    display: none;
}
